# Conexión a MySQL local (Laragon) - Descomentar si se usa localmente
# DATABASE_URL=mysql+pymysql://tu_usuario:tu_contraseña@localhost/banco_santander

# Conexión a Supabase (Producción / Nube)
DATABASE_URL=postgresql://postgres.gimombupqxnxviwybkzv:TU_CONTRASEÑA_AQUI@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# Llaves de Stripe (Modo Prueba)
STRIPE_PUBLIC_KEY=tu_llave_publica_aqui
STRIPE_SECRET_KEY=tu_llave_privada_aqui