# Configuración de Base de Datos Local
# Reemplaza con tus datos de Laragon/XAMPP/MySQL
DATABASE_URL=mysql+pymysql://tu_usuario:tu_contraseña@localhost/nombre_tu_bd #banco_santander

# Llaves de Stripe (Modo Prueba)
STRIPE_PUBLIC_KEY=tu_llave_publica_aqui
STRIPE_SECRET_KEY=tu_llave_privada_aqui